# <center> • **Data Warehouse** </center>
#### <center> _____________○ Assignment 02: Data Cube Operations_____________ </center>
#### <center> _____________○ Name: Belal Khaled ~ 2136873_____________ </center>
# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

# • Importing All Libraries We Need:

In [1]:
import numpy as np
import pandas as pd

# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

# • Creating a 3D Data Cube With Random Values:

In [2]:
data_cube = np.random.randint(10, 1000, size=(4, 4, 4))

time = ['Q1', 'Q2', 'Q3', 'Q4']
items = ['Egg', 'Milk', 'Bread', 'Biscuit']
locations = ['Chennai', 'Kolkata', 'Mumbai', 'Delhi']

# Display The 3D Data Cube:
print("Data Cube:")
for i, loc in enumerate(locations):
    print(f"Location: {loc}")
    df = pd.DataFrame(data_cube[:, :, i], index=time, columns=items)
    print(df)
    print('')

Data Cube:
Location: Chennai
    Egg  Milk  Bread  Biscuit
Q1   10   181    179      927
Q2  401   588    123      995
Q3  863   109    847      643
Q4  381   130    334      183

Location: Kolkata
    Egg  Milk  Bread  Biscuit
Q1  909   870    160      236
Q2  909    11    252       20
Q3  354   105    510      408
Q4  722   603    396      620

Location: Mumbai
    Egg  Milk  Bread  Biscuit
Q1  758   133    868      940
Q2  250   378    765      984
Q3  121   552    656      164
Q4  786   512    513      946

Location: Delhi
    Egg  Milk  Bread  Biscuit
Q1  104   765    332      396
Q2  818   368    707      998
Q3  121   250    467      779
Q4  914   649    183      254

# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

# 1) Roll-up: Sum Over Quarters:

In [3]:
rollup = np.sum(data_cube, axis=0)
print("Roll-Up:")
rollup_df = pd.DataFrame(rollup, index=items, columns=locations)
print(rollup_df)

Roll-Up:
         Chennai  Kolkata  Mumbai  Delhi
Egg         1655     2894    1915   1957
Milk        1008     1589    1575   2032
Bread       1483     1318    2802   1689
Biscuit     2748     1284    3034   2427

# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

# 2) Drill-down: Focusing On A Specific Quarter:

In [4]:
q1 = data_cube[0, :, :]
print("Drill-Down:")
drilldown_df = pd.DataFrame(q1, index=items, columns=locations)
print(drilldown_df)

Drill-Down:
         Chennai  Kolkata  Mumbai  Delhi
Egg           10      909     758    104
Milk         181      870     133    765
Bread        179      160     868    332
Biscuit      927      236     940    396

# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

# 3) Slicing: Filter Data For A Specific Location:

In [5]:
chennai = data_cube[:, :, 0]  
print("Slicing:")
slicing_df = pd.DataFrame(chennai, index=time, columns=items)
print(slicing_df)

Slicing:
    Egg  Milk  Bread  Biscuit
Q1   10   181    179      927
Q2  401   588    123      995
Q3  863   109    847      643
Q4  381   130    334      183

# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

# 4) Dicing: Extract A Subcube For Specified Ranges:

In [6]:
dicing = data_cube[0:2, 1:3, 0:2]  
print("Dicing:")
for i, loc in enumerate(locations[:2]):
    print(f"Location: {loc}")
    df = pd.DataFrame(dicing[:, :, i], index=time[:2], columns=items[1:3])
    print(df)
    print('')

Dicing:
Location: Chennai
    Milk  Bread
Q1   181    179
Q2   588    123

Location: Kolkata
    Milk  Bread
Q1   870    160
Q2    11    252

# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

# 5) Pivot: Transform The View:

In [7]:
print("Pivot:")
pivot_df = pd.DataFrame(data_cube[:, :, 0], index=time, columns=items).T
print(pivot_df)

Pivot:
          Q1   Q2   Q3   Q4
Egg       10  401  863  381
Milk     181  588  109  130
Bread    179  123  847  334
Biscuit  927  995  643  183

# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

# <center> **The End** </center>

# ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ